h1{color: #c3d2f5;}
h1{text-align: center;}
h1{font-size:65px;}
h2{color: #6889d6;}
h2{text-align: right;}
h2{font-size: 33px}
h3{font-size: 29px}
h4{font-size: 15px}
p1{font-size: 26px}
p2{font-size: 26px}